<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
    
        body,
        html {
          height: 100%;
          width: 100%;
          margin: 0;
          padding: 0;
          left: 0;
          top: 0;
          font-size: 100%
        }
    
        .center,
        .container {
          margin-left: auto;
          margin-right: auto
        }
    
        * {
          font-family: Lato, Helvetica, sans-serif;
          color: #333447;
          line-height: 1.5
        }
    
        h1 {
            font-size:15vw;
            text-align: right;
            line-height: 5%
        }
    
        h2 {
          font-size: 2rem
        }
    
        h3 {
          font-size: 1.375rem
        }
    
        h4 {
          font-size: 1.125rem
        }
    
        h5 {
          font-size: 1rem
        }

        .form{
            text-align: right;
        }

        .button{
            background-color: 333447;
            border: none;
            color: #9597c9;
            padding: 15px 32px;
            text-align: center;
            display: inline-block;
            font-size: medium;
            margin: 4px 2px;
            cursor: pointer;
        }

        p {
          font-size: 1.125rem;
          font-weight: 200;
          line-height: 1.8
        }
    
        .font-light {
          font-weight: 300
        }
    
        .font-regular {
          font-weight: 400
        }
    
        .font-heavy {
          font-weight: 700
        }
    
        .left {
          text-align: left
        }
    
        .right {
          text-align: right
        }
    
        .center {
          text-align: center
        }
    
        .justify {
          text-align: justify
        }
    
        .container {
          width: 90%
        }
    
        .row {
          position: relative;
          width: 100%
        }
    
        .row [class^=col] {
          float: left;
          margin: .5rem 2%;
          min-height: .125rem
        }
    
        .col-1,
        .col-10,
        .col-11,
        .col-12,
        .col-2,
        .col-3,
        .col-4,
        .col-5,
        .col-6,
        .col-7,
        .col-8,
        .col-9 {
          width: 96%
        }
    
        .col-1-sm {
          width: 4.33%
        }
    
        .col-2-sm {
          width: 12.66%
        }
    
        .col-3-sm {
          width: 21%
        }
    
        .col-4-sm {
          width: 29.33%
        }
    
        .col-5-sm {
          width: 37.66%
        }
    
        .col-6-sm {
          width: 46%
        }
    
        .col-7-sm {
          width: 54.33%
        }
    
        .col-8-sm {
          width: 62.66%
        }
    
        .col-9-sm {
          width: 71%
        }
    
        .col-10-sm {
          width: 79.33%
        }
    
        .col-11-sm {
          width: 87.66%
        }
    
        .col-12-sm {
          width: 96%
        }
    
        .row::after {
          content: "";
          display: table;
          clear: both
        }
    
        .hidden-sm {
          display: none
        }
    
        @media only screen and (min-width:33.75em) {
          .container {
            width: 80%
          }
        }
    
        @media only screen and (min-width:45em) {
          .col-1 {
            width: 4.33%
          }
    
          .col-2 {
            width: 12.66%
          }
    
          .col-3 {
            width: 21%
          }
    
          .col-4 {
            width: 29.33%
          }
    
          .col-5 {
            width: 37.66%
          }
    
          .col-6 {
            width: 46%
          }
    
          .col-7 {
            width: 54.33%
          }
    
          .col-8 {
            width: 62.66%
          }
    
          .col-9 {
            width: 71%
          }
    
          .col-10 {
            width: 79.33%
          }
    
          .col-11 {
            width: 87.66%
          }
    
          .col-12 {
            width: 96%
          }
    
          .hidden-sm {
            display: block
          }
        }
    
        @media only screen and (min-width:60em) {
          .container {
            width: 75%;
            max-width: 60rem
          }
        }
    
        #main {}
    
        .title-row {
          padding: 20px 20px 20px 20px;
    
        }
    
        #header-row {
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 21px;
        }
    
        body {
          color: #5D5D5E;
        }        
    
        #delivery_included {
          font-size: 70%;
        }
    
        input {
          border: 1px solid #DDDDDD;
          width: 350px;
          height: 25px;
        }
    
        textarea {
          border: 1px solid #DDDDDD;
          width: 350px;
        }
    
        #error_row {
          color: red;
        }
      </style>
    <title>Converter</title>
</head>
<body>
    </br>
    <h1 >DEGREE</h1>
    <h1>CONVERTER</h1>
    {% block content %}
    <div>
        <form class= "form" action="/fahrenheit" method="post">
            <input type= "text" placeholder="Input only numbers" name="degree" id="degree">
            </br>
            <p id = "submit"><span id="convertion">0.00</span></p>
            <!-- <button type = "submit" id = "submit" value="CONVERT"></button> -->
        </form>
    </div>
    {% endblock content %}
</body>
<script>
    submit_btn = document.getElementById("submit");
    submit_btn.addEventListener('click', function (e) {
        e.preventDefault()

        var form = document.querySelector("form");

        console.log("foobar")
        var degree = form.elements.degree.value;
        var data = {
            degree: degree
        }
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/converted", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function (e) {
        console.log(e);
            if (e.currentTarget.status == 400) {
                error_element = document.getElementById("errors");
                error_json = JSON.parse(e.currentTarget.response);
                console.log(error_json);
                errors = error_json.errors;
                for (i = 0; i < errors.length; i++) {
                error_msg = errors[i];
                error_html = '<li id="error_row">' + error_msg + '</li>';
                error_element.innerHTML = error_element.innerHTML + error_html;
                }
            }
        };
        xhr.send(JSON.stringify(data));
    })
    // function loadXMLDoc() {
    // var xhttp = new XMLHttpRequest();
    // xhttp.onreadystatechange = function() {
    //     if (this.readyState == 4 && this.status == 200) {
    //     document.getElementById("demo").innerHTML =
    //     this.responseText;
    //     }
    // };
    // xhttp.open("GET", "xmlhttp_info.txt", true);
    // xhttp.send();
    // }
</script>
</html>
